.wrapper {
  width: 100vw;
  background-color: rgba(17, 17, 17, 0.05);
  backdrop-filter: blur(25px);
  margin-top: 92px;
}

.title {
  margin: 23px auto;
  color: var(--white);
  text-align: center;
  text-shadow: 0px 4px 75px #000;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 989px) {
    font-size: 24px;
  }
}

.iconsList {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 0 40px;
  margin-bottom: 24px;
  flex-wrap: wrap;

  @media (max-width: 744px) {
    gap: 24px;
  }
}

.svg {
  &:hover {
    filter: drop-shadow(var(--shadow));
  }
}
