.linksList {
  display: flex;
  font-size: 18px;
  color: rgba(242, 243, 255, 0.50);
  gap: 40px;
}

.burgerLinks {
  color: rgba(242, 243, 255, 0.50);
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-size: 24px;

  @media (max-width: 550px) {
    font-size: 20px;
    gap: 32px;
  }
}

.link {
  display: inline-block;
  width: 100%;
  transition: color var(--transition);

  &:hover {
    color: #F2F3FF;
  }
}

.isActive {
  font-weight: 700;
  color: #F2F3FF;
}
